<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<html lang="en">
  <head>
    <title>lsmsaApp</title>

    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">lsmsaAPP</h3>
      </div>

      <div id = "fullscreen" class="jumbotron">
        <h1>Check In</h1>
        <div id="chk_img">
          <img src="logo.png" style="width:100%;height:auto;">
        </div>
        <form action="sign_in.html" method="get">
          <input type="text" name="location" id="inputLocation" class="form-control" placeholder="Enter Current Location..." required autofocus>
          <button type="submit" id="r_button" class="bottom right active button">Check In</button>
      </form>
      <form class="form-signout" action="speed_bump.html" method="get">
      <button type="submit" id="l_button" class="bottom left button" >Speed Bump</button>
      </form>
      <form class="form-signout" action="sign_out.html" method="get">
      <button type="submit" id="m_button" class="bottom middle button" >Sign Out</button>
      </form>
      </div>

      <footer class="footer">
        <p>&copy; William Casey, Ben Walker 2018</p>
      </footer>

    </div>
  </body>
</html>

